version : "2"

services:
    DB:
      container_name : DataBase
      image : postgres:15-alpine
      volumes :
        - ./postgres/data:/var/lib/postgresql/data
      environment:
        - POSTGRES_DB=postgres
        - POSTGRES_USER=postgres
        - POSTGRES_PASSWORD=postgres
      expose:
        - 5432
      restart: always

    backend-server:
      container_name: django-backend
      build: 
        context: .
        dockerfile: ./dockerfiles/dev/django/Dockerfile
      volumes:
        - ./core:/usr/src/app
      working_dir: /usr/src/app
      command : python manage.py runserver 0.0.0.0:8000
      ports:
        - "8000:8000"
      environment:
        - DEBUG=True
      restart: always
      depends_on:
       - DB
    
    smtp4dev:
      image: rnwood/smtp4dev:v3
      restart: always
      ports:
        - '5000:80'
        - '25:25'
        - '143:143'
      volumes:
          - smtp4dev-data:/smtp4dev
      environment:
        - ServerOptions__HostName=smtp4dev

volumes:
  smtp4dev-data:



